<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-5 col-md-4 col-sm-6 mx-auto">
      <div class="input-group mb-3 mt-4">
        <input
          type="text"
          class="form-control shadow-none "
          (keyup.enter)="search(se.value)"
          #se
          [(ngModel)]="searchItem"
          placeholder="search food you want"
          aria-label="Search Food you want" aria-describedby="button-addon"
        />
        <button class="btn btn-secondary shadow-none" (click)="search(se.value)" id="button-addon">
          Search
        </button>
      </div>
    </div>
  </div>
</div>

