div input{
  border: none;
  border-radius: 10rem 0 0 10rem !important;
  background-color: #f1f1f1;
  color: black !important;
  outline: none;
  height: 3rem !important;
  font-size: 1.3rem;
  font-weight: 200;
  padding: 1.2rem 0 1.2rem 4rem !important;
  
}

div button{
  margin-left: .1rem !important;
  border-radius: 0 10rem 10rem 0 !important;
  height: 3rem !important;
  padding-right: 1.2rem !important;
  border: none;
  outline: none;
}