div.container a#tagName{
  border-radius: 3rem !important;
  border: none;
  outline: none;
  padding-left: .7rem;
  padding-right: .7rem;
}

div.container a#tagName span#tagCount{
  padding: .3rem !important;
}